body {
	font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 16px;
	letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Buttons override */
.btn {
	text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
	padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
	background-color: #dd5138;
	color: #fff;
}
.btn-yellow {
	background-color: #fcd93b;
	color: #2a2a2a;
	opacity: 0.8;
}
.btn-yellow:hover {
	opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}
.content-ct {
	text-align: center;
}

/* ------------------
	Navigation 
------------------ */
.side-menu {
	position: fixed;
	right: 30px;
	top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}
.side-menu ul li a span {
	display: inline-block;
}
.side-menu ul li a span.menu-title {
	color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #dd5138;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #dd5138;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
	transform: scale(1.8);
}


.hero-header {
	
	background-image: url("1.png");
	background-size:cover;
	min-height: 500px;
	padding: 5em;
	color: #fff;
}
.hero-header h1 {
	margin: 1em 0 0 0;
}
.hero-header h4 {
	font-weight: normal;
	opacity: 0.6;
    letter-spacing: 1px;
    margin: 2em 0;
}
.hero-header .logo {
	max-width: 180px;
}
.hero-header .btn {
	margin-top: 3em;
}
.hero-header .rocket {
	max-width: 100%;
}
.me-row {
	padding: 30px 0;
}
.row-title {
	font-weight: bold;
    margin-bottom: 20px;
}
.feature {
	padding: 20px;
	margin-top: 30px;
}
.feature span {
	font-size: 5em;
    color: #016cc7;
}

.speaker .feature {
	width: 31.333333%;
	/*width: 48%;*/
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	margin-right: 20px;
  	border: 3px solid #f6f6f6;
    border-radius: 5px;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speaker-img {
	max-width: 60%;
    border: 4px solid #efefef;
    border-radius: 50%;
}
ul.speaker-social li {
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}
ul.speaker-social li a {
	font-size: 0.2em;
	padding: 0 10px;
}
ul.speaker-social li a:hover {
	text-decoration: none;
}
a span.ti-facebook {
	color: #3b5998;
}
a span.ti-twitter-alt {
	color: #4099ff;
}

/**
https://www.cssmatic.com/es/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%28139\%2C210\%2C228\%2C1\%29\%200\%25\%2C\%20rgba\%2864\%2C174\%2C201\%2C1\%29\%2047\%25\%2C\%20rgba\%2836\%2C189\%2C204\%2C1\%29\%20100\%25\%29\%3B'*/
.tickets {
    background: rgba(64,174,201,1);
background: -moz-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(64,174,201,1)), color-stop(53%, rgba(139,210,228,1)), color-stop(100%, rgba(36,189,204,1)));
background: -webkit-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: -o-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: -ms-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40aec9', endColorstr='#24bdcc', GradientType=1 );
    /**background-color: #24BDCC;*/
}
.tickets .price {
	font-size: 4em;
	color: #dd5138;
    font-weight: 100;
}
.tickets .price sup {
	font-size: 0.4em;
}


.nav-tabs {
    margin-top: 20px;
}
.schedule .media {
	margin-top: 4em;
}
.schedule .media-object {
	max-width: 100px;
}
.schedule .media-heading {
	font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}
.schedule .media-body h5 {
	text-transform: uppercase;
	font-weight: 600;
}


.footer {
    background-color: #2a2a2a;
    /*margin-top: 30px;*/
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}


.contact {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
}
.contact h3 {
    margin-bottom: 30px;
}
.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
        /*max-height: 550px;*/
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}
.list-group-precio {
  position: relative;
  display: block;
  margin-bottom: 1px;  
  text-align: center;
  
}
.jt-ticket-price{
    background: #e9f2f7;
    padding: 20px 0;
    margin-top: 5px;
}
.jt-hide-text{
    color: #e9f2f7;
}
.jt-tittle-event{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.jt-tittle-event > h1{
    font-weight: bold;
    font-size: 60px;
    margin: 0pX;
}
#jt-fecha-evento{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
	color: white;
}
#jt-fecha-evento > h3{
    font-size: 30px;
}
#jt-texto-cabecera{
    text-align: center;
    margin-bottom: 10px;
	color: white;
}
#jt-texto-cabecera li{
    text-align: center;
    margin-bottom: 10px;
	color: white;
}

#jt-boton-tickets{
    text-align: center;
    margin-bottom: 10px;
}
.jt-schedule-menu{
    text-align: center;
    border: none;
}
.jt-schedule-menu li {
    float: none;
    display: inline-block;
}
.jt-schedule-menu li a:hover, .jt-schedule-menu li a:focus, .jt-schedule-menu li.active a, .jt-schedule-menu li.active a:hover, .jt-schedule-menu li.active a:focus {
    color: #fff;
}
.jt-schedule-menu li a:hover, .jt-schedule-menu li a:focus, .jt-schedule-menu li.active a, .jt-schedule-menu li.active a:hover, .jt-schedule-menu li.active a:focus {
    background-color: #08C4E1;
}
.jt-schedule-menu li a {
    color: black;
}
.jt-schedule-menu li a {
    border-radius: 0;
    margin: 0 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.jt-schedule-menu li a {
    border: 1px solid #08C4E1;
}
#jt-schedule-content-area {
    width: 100%;
    display: inline;
    float: left;
}
#jt-schedule-area {
    display: inline;
    width: 100%;
}
.jt-event-timeline ul li .jt-single-event {
    background-color: #fff;
    -webkit-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
    -moz-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
    box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
    position: relative;
    top: 0;
    width: 400px;
    padding: 15px;
    text-align: left;
}
.jt-event-timeline ul li:nth-child(2n+1) .jt-single-event {
    left: -450px;
    text-align: right;
}
.jt-event-timeline ul li {
    list-style-type: none;
    position: relative;
    width: 2px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #ddd;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.jt-event-timeline ul li:nth-child(2n) .jt-single-event {
    left: 50px;
}
.mu-event-timeline ul li .mu-single-event img {
    height: 80px;
    width: 80px;
    float: left;
    border-radius: 50%;
    margin-right: 15px;
}
.jt-event-timeline ul li .jt-single-event p {
    margin-bottom: 5px;
	font-weight: bold;
}
.jt-single-event .jt-event-time {
    color: #08C4E1;
}
.jt-event-timeline ul li .jt-single-event h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
	font-weight: bold;
}
.jt-event-timeline ul li .jt-single-event span {
    font-size: 14px;
}
.jt-schedule-content{
    margin-top: 20px 
}
.jt-event-timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: inherit;
}
.jt-schedule{
    background-color: #f8f8f8
}
@media (max-width: 991px){
    .jt-event-timeline ul li:nth-child(2n+1) .jt-single-event {
        left: 50px;
        text-align: left;
    }
    .jt-event-timeline ul li {
        margin-left: 15%;
    }
}
.jt-single-taller{
    padding: 0 10px;
    outline: none;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.jt-single-taller > div{
    margin: 10px ;
    padding: 10px;
    /*background-color: #08C4E1;*/
    background: rgba(64,174,201,1);
background: -moz-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(64,174,201,1)), color-stop(53%, rgba(139,210,228,1)), color-stop(100%, rgba(36,189,204,1)));
background: -webkit-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: -o-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: -ms-linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
background: linear-gradient(45deg, rgba(64,174,201,1) 0%, rgba(139,210,228,1) 53%, rgba(36,189,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40aec9', endColorstr='#24bdcc', GradientType=1 );
}
.jt-single-taller > div > h3{
    color: white;
    font-weight: bold;
}
.jt-workshops-hora{
    text-align: center;
}
.jt-speaker{
    
}
.div-banner{
	background-color: #002236;
	height: 400px;
}
.div-map{
	padding-left:0px;
	padding-right:0px;
}